/*Main style*/
body {
    background:#000;
    font-family:Arial, Helvetica, sans-serif;
}

.main
{
    background:#ffffff;
}

.search
{
    /*background-color: #f6f6f6;*/
    margin:20px 20px;
    padding:20px;
}


.search input
{
    width:70%;
}

/*.search .icon {*/
    /*background:url(images/magnify.gif) no-repeat;*/
/*}*/

.search input::-webkit-input-placeholder { font-style:italic; }

.search select
{
    width:50%;
}

/*Orders style*/
.orders table
{
    margin:auto;
    font-size:12px;
}

.orders .mainTable
{
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 10px;
}


.orders .table th{
    background-color: #adadad;
}

/**!/*/
    /*vertical-align:top;*/
    /*padding:2px 3px 0 3px;*/
    /*line-height:normal;*/
    /*height:auto;*/
    /*min-height:30px;*/
    /*height:30px;*/
/*}*/

.orders .table td {
    width:10%;
    /*float:left;*/
    word-wrap:break-word;
}

.orders .table .accountName {
    width:30%;
    /*float:left;*/
    word-wrap:break-word;
}

.orders .table .productName {
    width:30%;
    /*float:left;*/
    word-wrap:break-word;
}

.orders .table .status {
    width:20%;
    /*float:left;*/
    word-wrap:break-word;
}



.orders .tablerow{
    background-color: #adadad;
    border-spacing:2px;
}

#nrResults
{
    padding:10px;
    margin:10px;
    font-size:10px;
}

.resetFilter
{
    float:right;
    margin-top:13px;
    margin-right:20px;
    font-size:10px;
    /*padding:10px;*/
}

.tab-content
{
    margin-bottom: 10px;
}

